<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/aparp/IdeaProjects/Cryptonaute"><classes><class name="com.cryptonaute.tests.AuthorTest"><methods><include name="verifyThatAuthorPageIsOpenedAndLooksAsExpected"/></methods></class><class name="com.cryptonaute.tests.SearchTest"><methods><include name="verifySearchCanBeUsedFromHPHeader"/></methods></class></classes></test></suite>